# Salin file ini ke .env lalu isi nilainya. JANGAN commit .env.
#
# Pemetaan peran (dipakai konsisten di seluruh project):
# - Bid Owner  = Shipper      (di UI ditampilkan sebagai "Pemilik Barang")
# - Bidder     = Transporter  (di UI ditampilkan sebagai "Ekspedisi")
# Dokumen rule memakai istilah Bid Owner/Bidder, UI memakai Pemilik Barang/Ekspedisi.

BASE_URL= https://phbidlautdemo.prahu-hub.com/
ADMIN_PATH=

ADMIN_EMAIL= prahu.bid20@gmail.com
ADMIN_PASSWORD= prahu12345.
ADMIN_SUB_EMAIL= phbiddaratadmean@gmail.com
ADMIN_SUB_PASSWORD= qwerty12345

SHIPPER_EMAIL= pengirim.ph2021@gmail.com
SHIPPER_PASSWORD= qwerty12345
SHIPPER_SUB_EMAIL= ikbidowner@yopmail.com
SHIPPER_SUB_PASSWORD= qwerty12345

TRANSPORTER_EMAIL= partner.ph2021@gmail.com
TRANSPORTER_PASSWORD= qwerty12345
TRANSPORTER_SUB_EMAIL= ikbidder@yopmail.com
TRANSPORTER_SUB_PASSWORD= qwerty12345
